body {
    font-family: "Microsoft JhengHei", 微軟正黑體, arial, sans-serif;
    width: 750px;
    margin: 0 auto;
}

h1 {
    color: rgb(238, 129, 42);
}

.main {
    padding: 5em 1em;
    width: 750px;
    box-shadow: 0 0 10px silver;
}

.content {
    position: relative;
    font-size: 16px;
    margin: 1em 0;
}

.withSide {
    width: 630px;
}

.time {
    font-size: 13px;
    color: #AAA;
}